@model PatStore.Models.CartModel
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
        <fieldset>
            <legend>Product Information</legend>
            <div class="form-group">
                @Html.LabelFor(m => m.Location)
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Total)
                @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
            </div>
        </fieldset>

        <fieldset>
            <legend>Payment Information</legend>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardName)
                @Html.TextBoxFor(m => m.CreditCardName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardNumber)
                @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardExpiration)
                @Html.TextBoxFor(m => m.CreditCardExpiration, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardAddress1)
                @Html.TextBoxFor(m => m.CreditCardAddress1, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardAddress2)
                @Html.TextBoxFor(m => m.CreditCardAddress2, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardCity)
                @Html.TextBoxFor(m => m.CreditCardCity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardState)
                @Html.TextBoxFor(m => m.CreditCardState, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardPostal)
                @Html.TextBoxFor(m => m.CreditCardPostal, new { @class = "form-control" })
            </div>
        </fieldset>

        <fieldset>
            <legend>User Info</legend>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address1)
                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address2)
                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.State)
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Zip)
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
            </div>
        </fieldset>
    <input type="submit" title="Place Order" value="Place Order" class="button-primary" />
}
