@model PatStore.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName)
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MiddleName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address2)
        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address2)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.State)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Zip)
        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Zip)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardNumber)
        @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardExpiration)
        @Html.TextBoxFor(m => m.CreditCardExpiration, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardExpiration)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardVerificationValue)
        @Html.TextBoxFor(m => m.CreditCardVerificationValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardVerificationValue)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardName)
        @Html.TextBoxFor(m => m.CreditCardName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardAddress1)
        @Html.TextBoxFor(m => m.CreditCardAddress1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardAddress1)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardAddress2)
        @Html.TextBoxFor(m => m.CreditCardAddress2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardAddress2)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardCity)
        @Html.TextBoxFor(m => m.CreditCardCity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardCity)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardState)
        @Html.TextBoxFor(m => m.CreditCardState, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardState)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardPostal)
        @Html.TextBoxFor(m => m.CreditCardPostal, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreditCardPostal)
    </div>


<input type="submit" value="Create Account" class="btn btn-primary" />   
}

